RewriteEngine On
RewriteRule ^login$ index.php
RewriteRule ^forgot$ forgot.php
RewriteRule ^dash$ dash.php
RewriteRule ^usrsett$ usrsett.php
RewriteRule ^logout$ logout.php
RewriteRule ^install$ installer.php
RewriteRule ^reset/(.+)$ reset.php?token=$1