RewriteEngine On
RewriteRule ^login$ index.php
RewriteRule ^forgot$ forgot.php
RewriteRule ^dash$ dash.php
RewriteRule ^library$ library.php
RewriteRule ^logs$ logs.php
RewriteRule ^usrsett$ usrsett.php
RewriteRule ^logout$ logout.php
RewriteRule ^manager/events$ events.php
RewriteRule ^manager/clocks$ clocks.php
RewriteRule ^manager/grids$ grids.php
RewriteRule ^admin/dash$ admindash.php
RewriteRule ^admin/settings$ settings.php
RewriteRule ^admin/users$ users.php
RewriteRule ^admin/groups$ groups.php
RewriteRule ^admin/schedcodes$ schedcodes.php
RewriteRule ^admin/hosts$ hosts.php
RewriteRule ^admin/hosts/rdairplay$ rdairplay.php
RewriteRule ^install$ installer.php
RewriteRule ^admin/services$ services.php
RewriteRule ^cart/audio/(.+)$ cart.php?id=$1
RewriteRule ^cart/macro/(.+)$ macro.php?id=$1
RewriteRule ^manager/clock/(.+)$ clock.php?id=$1
RewriteRule ^logs/voicetrack/(.+)$ voicetrack.php?log=$1
RewriteRule ^logs/log/(.+)$ log.php?log=$1
RewriteRule ^manager/event/(.+)$ event.php?id=$1
RewriteRule ^reset/(.+)$ reset.php?token=$1
RewriteRule ^admin/users/user/(.+)$ user.php?id=$1
RewriteRule ^admin/services/service/(.+)$ service.php?id=$1