RewriteEngine On
RewriteRule ^clocks$ clocks.php
RewriteRule ^events$ events.php
RewriteRule ^grids$ grids.php
RewriteRule ^clock/(.+)$ clock.php?id=$1 [B]
RewriteRule ^event/(.+)$ event.php?id=$1 [B]