RewriteEngine On
RewriteRule ^dash$ admindash.php
RewriteRule ^groups$ groups.php
RewriteRule ^users$ users.php
RewriteRule ^settings$ settings.php
RewriteRule ^schedcodes$ schedcodes.php
RewriteRule ^hosts$ hosts.php
RewriteRule ^hosts/rdairplay$ rdairplay.php
RewriteRule ^hosts/rdpanel$ rdpanel.php
RewriteRule ^hosts/rdlogedit$ rdlogedit.php
RewriteRule ^services$ services.php
RewriteRule ^users/user/(.+)$ user.php?id=$1
RewriteRule ^services/service/(.+)$ service.php?id=$1